body { background-color:#1c1c1c; margin:0; color: #DDD; }
a { text-decoration: none; color: #AAA; }
.post { height: 180px; position: relative; }
.post h2 { font-size: 18px; z-index: 100; position: absolute; top: 10px; left: 180px; }
.post-info { font-size: 14px; z-index: 100; position: absolute; top: 30px; left: 180px; }
.post-content p { background-color: #2c2c2c; padding: 10px; }
.post-content img { margin-right: 25px; max-height: 150px; max-width: 150px; }
.rw-right { display: none; }
